header{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0.5em;
    border: 1px solid rgb(84, 84, 84);
    border-radius: 5px;
    background-color: rgb(84, 84, 84);
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 99%;
    color: white;
    & img{
        width: 5em;
        height: 5em;
    }
    & ul{
        list-style:none;
        text-align: right;
        display:inline-flex;   
    }
    & li{
     
        margin-right:1em ;
    }
    & a{
        text-decoration: none;
        color: white;
    }
}
body{
    
    background-color:rgb(164, 164, 164);
    
}
.aside1{
    background-image: url(/img/fondo\ aside.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: 100% 100%;
    margin: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
    border: 2px solid rgba(84, 84, 84, 0.823);
    background-color: rgba(84, 84, 84, 0.816);
    border-radius: 10px;
    color: rgb(92, 92, 92);
    -webkit-text-stroke: 1px black;
    
}
.aside1 h1{
    text-align: center;
    padding: 1em;
    
}
#articulo1{
    margin: 2em auto;
    border: 2px solid rgba(84, 84, 84, 0.823);
    background-color: rgba(84, 84, 84, 0.816);
    border-radius: 10px;
    color: white;
    width: 20em;
}

.aside1 p{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0px
    
}
.aside1a{
    display: block;
    width: 8em;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(136, 136, 136);
    font-weight: bold;
}
.aside1 a:hover{
    background-color: rgb(200, 200, 200);
}
.aside2{
   padding: 0em;
   margin: 0em;
   width: 100%;
    color: white;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}
.article{
    margin: 2em;
    border: 2px solid rgba(84, 84, 84, 0.823);
    background-color: rgba(84, 84, 84, 0.816);
    border-radius: 10px;
    color: white;
    width: 20em;
}
footer{
    text-align: center;
    
    padding: 1em;
    margin-top: 2em;
    background-color: rgb(84, 84, 84);
    color: white;
}

